<div class="sidebar" role="aside" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
    <header class="header" role="banner">
        {{! The logo of the blog }}
        <a href="/"><img id="blog" class="logo" src="{{@blog.logo}}"></a>

        {{! The title of the blog }}
        <h1 class="title"><a href="/">{{@blog.title}}</a></h1>

        {{! The description of the blog }}
        <p class="description">{{@blog.description}}</p>

        {{! Small separator between user details and menu }}
        <div class="separator"></div>

        {{! Navigation menu }}
        {{> "nav"}}

        {{! Social links }}
        <div class="social-icons">
            <a href="https://github.com/mohlsen" class="icon icon-github-circled"></a>
            <a href="https://www.linkedin.com/pub/mike-ohlsen/1/650/1a3" class="icon icon-linkedin"></a>
            <a href="https://plus.google.com/u/0/+MikeOhlsen" class="icon icon-gplus"></a>
            <!--<a href="https://www.facebook.com/XXX" class="icon icon-facebook"></a>-->
            <a href="https://twitter.com/mohlsen" class="icon icon-twitter"></a>
            <a href="/rss" class="icon icon-rss"></a>
            <!--<a href="mailto:XXX" class="icon icon-mail"></a>-->
        </div>
    </header>

    <footer class="site-footer">
        <section class="copyright">{{> "copyright"}}</section>
        <section class="poweredby">Proudly published with <a class="ghost-link" href="https://ghost.org">Ghost</a> using the <a class="ghost-link" href="https://github.com/calincru/KISS">KISS</a> theme. Powered by <a class="ghost-link" href="https://azure.microsoft.com">Azure</a>.</section>
    </footer>
</div>
